</main>

<div style="padding: 30px; display: flex; gap: 20px; flex-direction: column; margin-top: 40px;">
    <hr>
    <div class="questions">
        Questions? <br>Address: Yogayog Bhawan, P-36, C.R. Avenue, Kolkata - 700012. <br> Call: 033-22120070 (Tel),
        22120811 (Fax)
    </div>
    <div class="footer" style="display: flex; justify-content: space-evenly;">
        <div class="footer-item">
            <a href="faq">Terms of Use</a>
        </div>

        <div class="footer-item">

            <a href="faq">Dashboard</a>
        </div>
        <div class="footer-item">
            <a href="faq">Privacy</a>
        </div>

        <div class="footer-item">
            <a href="faq">Contact Us</a>
            <a href="/">cpmg_wb@indiapost.gov.in</a>
        </div>
    </div>
</div>
</body>

</html>